# Virtual Environment
venv/
venv_py311/
.venv/

# Python cache
__pycache__/
*.pyc

# Django project specific
*.log
db.sqlite3
/media/

# OS-specific
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Environment variables
.env
