# Environment variables
.env

# Django / Python
__pycache__/
*.pyc

# Database
db.sqlite3

# Static and media files
/staticfiles/
/media/

# Log files
*.log

# IDE configuration
.vscode/
.idea/

# OS-specific
.DS_Store