{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Your NEXUS Invoice" %}</title>
</head>
<body>
    <p>{% blocktrans with username=user.get_full_name|default:user.username %}Hello {{ username }},{% endblocktrans %}</p>
    <p>{% blocktrans with order_id=order.order_id %}Please find your invoice for order #{{ order_id }} attached to this email.{% endblocktrans %}</p>
    <p>{% trans "You can also view your order details online by clicking the link below:" %}</p>
    <p><a href="{{ order_url }}">{{ order_url }}</a></p>
    <p>{% trans "Thank you for shopping with us!" %}</p>
</body>
</html>